.container {
    display: flex;
    align-items: center;
}

.imagen-info, .product-info, .counter {
    flex: 1;
    text-align: center;
}

.entradas{
    border-radius: 100%;
}
#Pedir{
    background-color: #5ABFBF;
    color: white;
    width: 200px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 350px;
    margin-top: 50px;
}