@import url(font.css);

/* Contenedor de la cabecera*/
header{
    background-color: white;
    border-style: solid;
    border-top: black;
    border-right: black;
    border-left: black;
    display: flex;
    margin: 0px auto;
    flex: 1 1 0;
    max-width: 100%;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
}


/* Tamaño del botón de iniciar sesión */

#iniciar-sesion{
    width: 100px;
    height: 100px;
}
#mi-cuenta{
    width: 100px;
    height: 100px;
}
header hr{
    width: 100%;
}

/* Tamaño del logo de GTI */
#logo-GTI{
    flex: 1 1 0;
    width: 100px;
}

/* Tamaño de la ventana a la que cambia el header */
@media (max-width: 600px) {
    header{
        text-align: center;
        font-size: 50%;
    }
}