@font-face {
    font-family: Quicksand;
    src: url('..\font\Quicksand\Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('..\font\Raleway\Raleway-VariableFont_wght.ttf');
}