@import url(font.css);


#logo-gti {
    width: 200px; /* ajusta el valor a lo que necesites */
    height: auto;
}


section.inicio-sesión {
    text-align: center;
    margin-top: 50px;
}

section.inicio-sesión img {
    margin: 0 auto;
    margin-top: 5%;
    height: auto;
    width: 40%;
    padding: 5% 0 5% 0;
}

section.inicio-sesión h1 {
    font-family: 'Raleway';
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 20px;


}

section.inicio-sesión form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
    height: auto;
    width: 500px;
}

section.inicio-sesión h2 {
    font-family: 'Raleway';
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 5%;

}

section.inicio-sesión label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

section.inicio-sesión input[type="text"],
section.inicio-sesión input[type="password"] {
    display: block;
    height: 3em;
    width: 100%;
    padding: 0;
    font-size: 2.6em;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 0;
}

section.inicio-sesión input[type="submit"] {
    background-color: #5ABFBF;
    color: white;
    width: 250px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

section.inicio-sesión input[type="submit"]:hover {
    background-color: #5ABFBF;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* ajustar según necesidad */
}
.pie-pagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 20px;
    padding: 0 20px;
}

.pie-pagina a:last-child {
    margin-left: 1450px;
}

#mi-cuenta{
    opacity: 0%;
}
